{
  "parser": "babel-eslint",
  "extends": ["xo/esnext", "xo-react/space"],
  "env": {
    "browser": true
  },
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "lines-between-class-members": "off",
    "react/prop-types": "off",
    "react/jsx-tag-spacing": [
			"error",
			{
				"beforeSelfClosing": "always"
			}
		],
  }
}