{
  "extends": "airbnb",
  "parserr": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "react/prop-types": "off",
    "arrow-body-style": "off",
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "no-underscore-dangle": "off"
  }
}